<!-- TODO: create different CSS themes -->
<div class="dropdown text-center col-12">
    <button class="btn text-white border-0 col-12 bg-{{backgroundColor}}" type="button">
        {{  selectedText }}
        <mat-icon class="align-self-end" fontIcon="arrow_drop_down"></mat-icon>
    </button>
    <div class="dropdown-content">
        <h5 class="dropdown-item p-1 text-center" *ngFor="let item of dropdownList"
            (click)="changeDropdownSelected(item)">{{ item.text }}</h5>
    </div>
</div>