.positions-container {
  background-color: #693CEA;
  /* background: linear-gradient(230.29deg, #2c166e 7.48%, #1d0071fc 88.89%); */
  /* background-image: linear-gradient(160deg, #0093E9 0%, #3dacec 100%); */
  /* box-shadow: 0px 0px 50px 12px rgba(0,147,233,1); */

  height: 250px;
  padding: 26px !important;
  border-radius: 15px !important;
}

.positions-inner-container {
  height: 170px;
  overflow-y: auto;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f100;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #88888888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
}

.closed-positions-container {
  background-color: var(--black-2);
  padding: 26px !important;
  border-radius: 15px;
  height: 250px;
  margin-left: auto !important;
}

.positions-row {
  display: flex;
  flex-wrap: wrap;
}

.o-position-card {
  max-width: 170px;
  border-radius: 15px;
  padding: .7rem .7rem .7rem .7rem !important;
  align-items: center !important;
  margin-right: 30px;
  cursor: crosshair;

  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #3dacec 100%);
  /* background-color: #FAD961;
  background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%); */
  color: black;
  transition: all .3s;

  b {
    margin-right: 6px !important;
  }

  h5 {
    text-align: center !important;
    font-weight: bold;
  }

  .date-muted {
    color: #0e2533;
  }
}

.o-position-card:hover {
  box-shadow: 0px 0px 25px 1px #0084ff9c !important;
}

.c-position-card {
  /* background: linear-gradient(230.29deg, #160F2B 7.48%, rgba(29, 0, 113, 0.99) 88.89%); */
  background-color: #0f003a;
  border-radius: 15px;
  cursor: crosshair;
  padding: .5rem .5rem .5rem .5rem !important;
  margin-right: 30px;
  align-items: center !important;
  max-width: 100px;
}

tbody,
thead {
  vertical-align: middle !important;
}

tbody {
  font-size: small;
}

table {
  padding: 0 !important;
}

.op-button {
  cursor: pointer;
  font-weight: bold;
  color: var(--teal-1);
  border: none !important;
}

.op-button:hover {
  color: white !important;
}

.text-subtle {
  font-size: small !important;
  font-weight: bold;
  font-style: italic;
  color: #adadad;
}

.btn-close-table {
  float: right;
  color: white;
  font-weight: bold;
  background-color: var(--red-1);
}

.btn-history {
  box-shadow: 0 0.5rem 1rem #0000005b !important;
  font-weight: bold;
  background-color: #0c012b;
  color: white;
  transform: all 2s;
}

.btn-history:hover {
  color: #111111;
  background-color: #d4c4ff;
  box-shadow: 0px 0px 25px 1px #4e0eff !important;
}

.rounded {
  border-radius: 15px !important;
}

.col-6-custom {
  -ms-flex: 0 0 49%;
  flex: 0 0 49%;
  max-width: 49%;
}

.p-box {
  padding: 26px !important;
}

.position-line {
  display: flex;
  flex-wrap: wrap;
  border-radius: 7px;
  padding: .25rem !important;
  margin-top: .25rem !important;
  background-color: #3a3a3a7e;
  color: #f0f0f0;
  text-align: center !important;

  h2 {
    font-weight: bold !important;
  }

  .col-2 {
    align-content: center !important;
  }
}

.closed-position-line {
  display: flex;
  flex-wrap: wrap;
  border-radius: 7px;
  padding: .25rem !important;
  margin-top: .25rem !important;
  background-color: #3a3a3a7e;
  color: #f0f0f0;
  text-align: center !important;
  font-weight: bold !important;

  h4 {
    font-weight: bold !important;
  }
}

.cl-gray {
  color: #b1b1b1;
}

@media screen and (max-width: 800px) {
  .col-6-custom {
    position: relative !important;
    /* width: 100% !important; */
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 15px !important;
    padding-left: 15px !important;

    h2, h4 {
      font-size: 13px !important;
    }

    h5 {
      font-size: 10px !important;
    }
  }
}