.bg-trd {}

.positions-row {
  display: flex;
  flex-wrap: wrap;
}

.o-position-card {
  max-width: 170px;
  border-radius: 15px;
  padding: .7rem .7rem .7rem .7rem !important;
  align-items: center !important;
  margin-right: 30px;
  cursor: crosshair;

  /* background-color: #0093E9;
    background-image: linear-gradient(45deg, #0093E9 0%, #80D0C7 100%); */
  background-color: #FAD961;
  background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);
  color: black;

  b {
    margin-right: 6px !important;
  }
}

.c-position-card {
  background: linear-gradient(230.29deg, #160F2B 7.48%, rgba(29, 0, 113, 0.99) 88.89%);
  border-radius: 15px;

  padding: .5rem .5rem .5rem .5rem !important;
  margin-right: 30px;
  align-items: center !important;

  max-width: 100px;
}

tbody,
thead {
  vertical-align: middle !important;
}

tbody {
  font-size: small;
}

table {
  padding: 0 !important;
}

.op-button {
  cursor: pointer;
  font-weight: bold;
  color: var(--teal-1);
  border: none !important;
}

.op-button:hover {
  color: white !important;
}

.text-subtle {
  font-size: small !important;
  font-weight: bold;
  font-style: italic;
  color: #93b3b3;
}