/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    background: #262626;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    
}

:root {
    --background-black: #262626;
    --black-2: #1D1D1D;
    --black-3: #242424;
    --background-grey: #4F4F4F;
    --yellow-1: #F6D234;
    --blue-1: #3389D0;
    --blue-2: #003058;
}

.bg-black-2 {
    background-color: var(--black-2) !important;
}

.bg-grey {
    background-color: var(--background-grey) !important;
}