/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700");

html,
body {
    height: 100%;
    background: var(--background-black);
}

body {
    margin: 0;
    font-family: "Montserrat", "Helvetica Neue", sans-serif !important;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", "Helvetica Neue", sans-serif !important;
}

.f-montserrat {
    font-family: "Montserrat", "Helvetica Neue", sans-serif !important;
}

.row-flex {
    display: flex;
    flex-wrap: wrap;
}

:root {
    /* --background-black: #262626; */
    --background-black: #000000;
    --black-2: #181818;
    --black-3: #242424;
    /* --background-grey: #4F4F4F; */
    --background-grey: #3F2E3E;
    --yellow-1: #EFE1D1;
    --blue-1: #A78295;
    --blue-2: #003058;
    --purple-1: #116D6E;
    --purple-2: #34abad;
}

.bg-black-2 {
    background-color: var(--black-2) !important;
}

.bg-grey {
    background-color: var(--background-grey) !important;
}

.bg-blue-1 {
    background-color: var(--blue-1) !important;
}

.bg-blue-2 {
    background-color: var(--blue-2) !important;
}

.bg-yellow-1 {
    background-color: var(--yellow-1) !important;
}

.bg-purple-1 {
    background-color: var(--purple-1) !important;
}

.bg-purple-2 {
    background-color: var(--purple-2) !important;
}

mat-icon {
    vertical-align: middle;
}

button {
    transition: 0.25s !important;
}

.btn-raise:hover,
.btn-raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em #000000 !important;
  transform: translateY(-0.25em);
}

h1,h2,h3,h4,p {
  margin: 0 0 0 !important;
}