/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700");

html,
body {
    height: 100%;
    background: #262626;
}

body {
    margin: 0;
    font-family: "Montserrat", "Helvetica Neue", sans-serif !important;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", "Helvetica Neue", sans-serif !important;
}

.f-montserrat {
    font-family: "Montserrat", "Helvetica Neue", sans-serif !important;
}

.row-flex {
    display: flex;
    flex-wrap: wrap;
}

:root {
    --background-black: #262626;
    --black-2: #0D0D0D;
    --black-3: #242424;
    --background-grey: #4F4F4F;
    --yellow-1: #F6D234;
    --blue-1: #3389D0;
    --blue-2: #003058;
}

.bg-black-2 {
    background-color: var(--black-2) !important;
}

.bg-grey {
    background-color: var(--background-grey) !important;
}

.bg-blue-1 {
    background-color: var(--blue-1) !important;
}

.bg-blue-2 {
    background-color: var(--blue-2) !important;
}

.bg-yellow-1 {
    background-color: var(--yellow-1) !important;
}