<div class="rounded bg-purple-1 text-white p-3 mt-3 shadow">
    <div class="row-flex currency-border">
        <div class="col-5">
            <app-dropdown-basic [dropdownList]="dropdownCurrencyList" [preSelectedIndex]="0" [backgroundColor]="dropdownBg"
                (selected)="changeFromCurrency($event)"></app-dropdown-basic>
        </div>
        <div class="col-5 offset-md-2">
            <div class="input-group">
                <input type="number" class="form-control"
                    [(ngModel)]="currencyFromValue">
            </div>
        </div>
    </div>
    <div class="row-flex mt-4">
        <div class="col-5">
            <app-dropdown-basic [dropdownList]="dropdownCurrencyList" [preSelectedIndex]="1" [backgroundColor]="dropdownBg"
                (selected)="changeToCurrency($event)"></app-dropdown-basic>
        </div>
        <div class="col-5 offset-md-2">
            <h2> {{ currencyToValue | number: '1.2-2' }} </h2>
        </div>
    </div>
    <br>
    <div class="col-12 rate-block">
        <p>rate from {{ currentDate | date: 'dd/MM/yyyy' }}</p>
    </div>
    <button class="btn col-12 btn-convert" (click)="getCurrency()">convert now <mat-icon fontIcon="currency_exchange"></mat-icon></button>
</div>