<!-- TODO: create single classes for all classes except cols and padding -->
<div *ngIf="cityName; else noGeoLocation" [ngStyle]="imageAsBackground(wallpaperUrl)" class="wallpaper">
    <h1 class="col-12 welcome-message"><span>Hello from {{ cityName }}.</span></h1>
</div>

<ng-template #noGeoLocation>
    <h1 class="text-white fw-bold p-5"> Hello, stranger.</h1>
</ng-template>

<div class="hub-container">
    <app-positions-container></app-positions-container>
    <hr>
    <button class="btn btn-lg panels-button" (click)="showPanels = !showPanels">.panels</button>
    <div *ngIf="showPanels" class="panels-row">
        <!-- CATEGORIES  -->
        <div class="col-md-3 p-2 col-sm-10 mx-sm-auto col-12">
            <div class="rounded bg-grey text-white shadow p-3">

                <div class="input-group input-group-sm mb-3">
                    <input type="text" class="form-control search-input" placeholder="search with keywords">
                    <div class="input-group-append">
                        <button class="btn bg-yellow-1 search-btn" type="button"><mat-icon
                                fontIcon="search"></mat-icon></button>
                    </div>
                </div>

                <div class="row-flex">
                    <label class="col-12 col-md-4 col-sm-10 dropdown-label">sort by:</label>
                    <div class="col-12 col-md-8 col-sm-10">
                        <app-dropdown-basic [dropdownList]="dropdownSortList"
                            (selected)="changeSortType($event)"></app-dropdown-basic>
                    </div>
                </div>

                <div class="row-flex mt-3">
                    <label class="col-12 col-md-4 col-sm-10 dropdown-label">country:</label>
                    <div class="col-12 col-md-8 col-sm-10">
                        <app-dropdown-basic [dropdownList]="dropdownCountryList"
                            (selected)="changeCountry($event)"></app-dropdown-basic>
                    </div>
                </div>

                <div class="row-flex mt-3">
                    <label class="col-12 dropdown-label">categories:</label>
                    <div class="row-flex align-content-center p-2 bg-secodary col-12">
                        <button *ngFor="let category of categories"
                            [ngClass]="{'selected-category': category.active === true }"
                            (click)="setActiveCategory(category)"
                            class="btn btn-raise col-5 mt-2 mx-auto bg-blue-1 text-white btn-sm">
                            {{ category.name }}
                        </button>
                    </div>
                </div>

                <div class="row-flex mt-4">
                    <button class="btn btn-raise btn-clean col-5" (click)="cleanFilters()">
                        clean
                        <mat-icon fontIcon="delete"></mat-icon>
                    </button>
                    <button class="btn btn-raise btn-search col-5" (click)="getNews()">
                        search
                        <mat-icon fontIcon="search"></mat-icon>
                    </button>
                </div>
            </div>
        </div>

        <!-- NEWS FEED -->
        <div class="col-md-6 col-sm-10 col-12 mx-sm-auto p-2">
            <div *ngFor="let obj of mockNews" class="news-container">
                <div class="row-flex">
                    <!-- NEWS THUMBNAIL -->
                    <div *ngIf="obj.image" class="col-12 p-1 news-thumbnail" [ngStyle]="imageAsBackground(obj.image)">
                    </div>

                    <!-- NEWS TEXT -->
                    <div class="col-md-11 p-1 bg-pimary">
                        <h4 class="f-montserrat fw-bold">{{ obj.title }}</h4>

                        {{ obj.description }}
                    </div>

                    <!-- NEWS SIDE BUTTONS -->
                    <div class="col-md-1 p-1">
                        <button class="btn btn-sm col-11 offset-md-1 ml-auto news-button" (click)="openLink(obj.url)">
                            <mat-icon fontIcon="feed"></mat-icon>
                        </button>
                        <button class="btn btn-sm offset-md-1 col-11 mt-3 news-button">
                            <mat-icon fontIcon="share"></mat-icon>
                        </button>
                        <button class="btn btn-sm offset-md-1 col-11 mt-3 news-button">
                            <mat-icon fontIcon="bookmark"></mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-2 col-md-3 col-sm-10 col-12 mx-sm-auto">
            <app-weather-card [cityName]="cityName"></app-weather-card>

            <app-currency-card></app-currency-card>
        </div>
    </div>
</div>