.color-test {
  background: var(--main-color);
}

.hub-container {
  margin-left: 10px;
  margin-right: 10px;
}

.panels-row {
  display: flex;
  flex-wrap: wrap;
}

.search-input {
  background-color: var(--black-2);
  border: none;
  border-radius: 10px;
}

::placeholder {
  font-style: italic;
  color: #BBBBBB;
  opacity: 0.7;
  /* Firefox */
}

.search-btn {
  border-radius: 0 10px 10px 0;
}

mat-icon {
  vertical-align: middle;
}

.dropdown {
  position: relative;
  display: inline-block;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 100%;
  /* min-width: 160px; */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  /* padding: 12px 16px; */
  z-index: 1;
  transition: all 1s ease;
  border-radius: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
  background-color: var(--black-3);
  color: white;
}

.dropdown-item {}

.dropdown-item:hover {
  color: var(--yellow-1);
  font-weight: bold;
}