<!-- TODO: create single classes for all classes except cols and padding -->
<div class="hub-container">
    <div class="p-5 m-5 bg-white"></div>

    <div class="panels-row">
        <!-- CATEGORIES  -->
        <div class="col-md-3 p-2 col-sm-10 mx-sm-auto col-12">
            <div class="rounded bg-grey text-white shadow p-3">

                <div class="input-group input-group-sm mb-3">
                    <input type="text" class="form-control search-input" placeholder="search with keywords">
                    <div class="input-group-append">
                        <button class="btn btn-warning search-btn" type="button"><mat-icon
                                fontIcon="search"></mat-icon></button>
                    </div>
                </div>

                <div class="row-flex">
                    <label class="col-12 col-md-4 col-sm-10 dropdown-label">sort by:</label>
                    <div class="col-12 col-md-8 col-sm-10">
                        <app-dropdown-basic [dropdownList]="dropdownSortList"
                            (selected)="changeSortType($event)"></app-dropdown-basic>
                    </div>
                </div>

                <div class="row-flex mt-3">
                    <label class="col-12 col-md-4 col-sm-10 dropdown-label">country:</label>
                    <div class="col-12 col-md-8 col-sm-10">
                        <app-dropdown-basic [dropdownList]="dropdownCountryList"
                            (selected)="changeCountry($event)"></app-dropdown-basic>
                    </div>
                </div>

                <div class="row-flex mt-3">
                    <label class="col-12 dropdown-label">categories:</label>
                    <div class="row-flex align-content-center p-2 bg-secodary col-12">
                        <button *ngFor="let category of categories"
                            [ngClass]="{'selected-category': category.active === true }"
                            (click)="setActiveCategory(category)"
                            class="btn col-5 mt-2 mx-auto bg-blue-1 text-white btn-sm">{{ category.name }}</button>
                    </div>
                </div>

                <div class="row-flex mt-4">
                    <button class="btn col-5 mx-auto bg-black-2 text-white fw-bold" (click)="cleanFilters()">
                        clean
                        <mat-icon fontIcon="delete"></mat-icon>
                    </button>
                    <button class="btn col-5 mx-auto bg-yellow-1  fw-bold">
                        search
                        <mat-icon fontIcon="search"></mat-icon>
                    </button>
                </div>
            </div>
        </div>

        <!-- NEWS FEED -->
        <div class="col-md-6 col-sm-10 col-12 mx-sm-auto p-2">
            <div *ngFor="let obj of mockNews" class="rounded bg-grey text-white mb-2 shadow p-3">
                <div class="row-flex">
                    <div class="col-md-3 p-1">
                        <img [src]="obj.image" alt="news image" style="width: 100%; border-radius: 10px;">
                    </div>

                    <!-- NEWS TEXT -->
                    <div class="col-md-7 p-1 bg-pimary">
                        <h4 class="f-montserrat fw-bold">{{ obj.title }}</h4>

                        {{ obj.description }}
                    </div>

                    <!-- NEWS SIDE BUTTONS -->
                    <div class="col-md-2 p-1">
                        <button class="btn btn-sm col-11 offset-md-1 ml-auto news-button">
                            source <mat-icon fontIcon="feed"></mat-icon>
                        </button>
                        <button class="btn btn-sm offset-md-1 col-11 mt-3 news-button">
                            share <mat-icon fontIcon="share"></mat-icon>
                        </button>
                        <button class="btn btn-sm offset-md-1 col-11 mt-3 news-button">
                            save <mat-icon fontIcon="bookmark"></mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-2 col-md-3 col-sm-10 col-12 mx-sm-auto">
            <div class="rounded bg-grey shadow">
                <!-- TODO: apply responsive on the columns -->
                <!-- TODO: new component for weather -->
                <div class="row-flex p-2">
                    <div class="col-3 rounded"> <img src="/assets/images/weather-icons/we-cloudy.png" alt="weather image" style="width: 90%;"> </div>
                    <div class="col-4 text-center p-1" style="word-wrap: break-word; display: table;">
                         <h1 class="weather-lg-temperature">23°</h1>
                    </div>
                    <div class="col-5 text-center p-1 d-table">
                        <h4 class="fw-bold d-table-cell" style="vertical-align: middle;">partly sunny <br> <mat-icon fontIcon="location_on"></mat-icon> montreal</h4>
                    </div>
                </div>
                <div class="row-flex p-2 fw-bold d-table bg-white" style="vertical-align: middle;">
                    <div class="col-4 text-start bg- d-table-cell" style="vertical-align: middle;"> 3pm</div>
                    <div class="col-4 text-center bg--1 d-table-cell" style="vertical-align: middle;"><img src="/assets/images/weather-icons/we-sunny.png" alt="weather image" style="width: 20%;"> 18°</div>
                    <div class="col-4 text-end bg- d-table-cell" style="vertical-align: middle;">sunny</div>
                </div>
                <br><br><br>
            </div>
            <div class="rounded bg-danger mt-2 shadow">
                <p>terceira</p>
                <br><br><br>
            </div>
        </div>
    </div>
</div>