.we-showers-day,
.we-cloudy,
.we-fog,
.we-freezing-rain,
.we-rain-day,
.we-sunny-showers {
    background-color: #0567d8 !important;
    color: #cce4ff !important;
}

.we-sunny,
.we-partly-sunny,
.we-mostly-sunny {
    background-color: #d6930d !important;
    color: #faebcd !important;
}

.we-flurries-day,
.we-snow,
.we-windy {
    background-color: #008670 !important;
    color: #c1fdf3 !important;
}

.we-t-storm-day {
    background-color: #044692 !important;
    color: #d3e7ff !important;
}

.we-t-storm-night {
    background-color: #00050a !important;
    color: #83d2db !important;
}

.we-showers-night,
.we-rain-night {
    background-color: #6ca6e7 !important;
    color: #fae5b1 !important;
}

.we-clear,
.we-mostly-clear,
.we-partly-clear {
    background-color: #2e2006 !important;
    color: #fae5b1 !important;
}

.weather-container {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border-radius: 0.25rem !important;
}

.support-text {
    display: table-cell !important;
    vertical-align: middle;
    text-transform: lowercase;
}

.weather-lg-container {
    word-wrap: break-word; 
    display: table;
    text-align: center !important;
    padding: 0.25rem !important;
}

.weather-lg-temperature {
    font-weight: bold;
    font-size: 3vw;
    vertical-align: middle !important;
    display: table-cell;
}

a,
a:active,
a:hover,
a:visited,
a:link {
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    .weather-lg-temperature {
        font-size: 3vw;
    }
}

@media screen and (max-width: 767px) {
    .weather-lg-temperature {
        font-size: 11vw;
    }
}