<div class="weather-container">
    <!-- CURRENT WEATHER -->
    <a href="{{ mockWeatherCurrent.Link }}" target="_blank">
        <div class="row-flex p-2 border-bottom" [ngClass]="getWeatherImageName(+mockWeatherCurrent.WeatherIcon)">
            <div class="col-4 rounded">
                <img src="/assets/images/weather-icons/{{ getWeatherImageName(+mockWeatherCurrent.WeatherIcon) }}.png" width="80%">
            </div>
            <div class="col-4 weather-lg-container">
                <h1 class="weather-lg-temperature">{{ mockWeatherCurrent.Temperature.Metric.Value | roundNumber }}°</h1>
            </div>
            <div class="col-4 text-center p-1 text-end d-table">
                <h4 class="fw-bold text-end support-text">
                    {{ mockWeatherCurrent.WeatherText | lowercase }} <br>
                    <mat-icon fontIcon="location_on"></mat-icon> montreal
                </h4>
            </div>
        </div>
    </a>

    <!-- HOURLY WEATHER  -->
    <a *ngFor="let weather of mockWeatherHourly" href="{{ weather.Link }}" target="_blank">
        <div class="row-flex p-2 fw-bold d-table" [ngClass]="getWeatherImageName(weather.WeatherIcon)">
            <div class="col-4 text-start support-text">
                {{ weather.DateTime | date: 'hh a' }}
            </div>
            <div class="col-4 text-center support-text">
                <img src="/assets/images/weather-icons/{{ getWeatherImageName(weather.WeatherIcon) }}.png" width="20%">
                {{ weather.Temperature.Value | roundNumber }}°
            </div>
            <div class="col-4 text-end support-text">
                {{ weather.IconPhrase }}
            </div>
        </div>
    </a>
</div>