<div class="weather-container">
    <!-- CURRENT WEATHER -->
    <a href="{{ currentWeather.Link }}" target="_blank">
        <div class="row-flex p-2 border-bottom" [ngClass]="getWeatherImageName(currentWeather.WeatherIcon)">
            <div class="col-4 rounded">
                <img src="/assets/images/weather-icons/{{ getWeatherImageName(currentWeather.WeatherIcon) }}.png" width="80%">
            </div>
            <div class="col-4 weather-lg-container">
                <h1 class="weather-lg-temperature">{{ currentWeather.Temperature | roundNumber }}°</h1>
            </div>
            <div class="col-4 text-center p-1 text-end d-table">
                <h4 class="fw-bold text-end support-text">
                    {{ currentWeather.WeatherText | lowercase }} <br>
                    <h5 class="fw-bold text-end"><mat-icon fontIcon="location_on" class="font-sm"></mat-icon> montreal</h5>
                </h4>
            </div>
        </div>
    </a>

    <!-- HOURLY WEATHER  -->
    <a *ngFor="let weather of hourlyWeatherList.slice(0, 4)" href="{{ weather.Link }}" target="_blank">
        <div class="row-flex p-2 fw-bold d-table" [ngClass]="getWeatherImageName(weather.WeatherIcon)">
            <div class="col-4 text-start support-text">
                {{ weather.DateTime | date: 'hh a' }}
            </div>
            <div class="col-4 text-center support-text">
                <img src="/assets/images/weather-icons/{{ getWeatherImageName(weather.WeatherIcon) }}.png" width="20%">
                {{ weather.Temperature | roundNumber }}°
            </div>
            <div class="col-4 text-end support-text">
                {{ weather.WeatherText }}
            </div>
        </div>
    </a>
</div>